{
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    "@babel/typescript",
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "esmodules": true
      },
    }],
  ],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}
